@import "~normalize.css";
@import "roboto.css";

body {
    font-family: "roboto", sans-serif;
}

.container {
    padding-top: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.spinner {
    background-image: url("../assets/Spinner.gif");
    background-size: cover;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.code {
    color: crimson;
}
